* {
    box-sizing: border-box;
    margin: 0;
}

.gameboard {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: blueviolet;
}

.gameboard div {
    width: 100px;
    height: 100px;
    content: "X";
    border: 1px solid black;
}